
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Posts Index</h1>
    <p>Click <a href="@Url.RouteUrl("login")">here</a> to login</p>

</body>
</html>
